{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<style>
    div.projects {
        margin: 10px 5px;
        width: 23rem;
        cursor: pointer;
    }
    div#project_header {
        text-align: center;
    }
</style>

<div id="project_header"><h2><strong>IAMKAnche Project List</strong></h2></div>
<div class="row">
    {% for project in projects %}
    <div class="card projects"  id="{{ project.id }}" data-project_link = "{{ project.url }}">
        <img class="card-img-top" src="{{ project.image.url }}" width="400" height="224" loading="lazy" alt="">
        <div class="card-body">
            <h5 class="card-title"><strong>{{ project.title }}</strong></h5>
            <p class="card-text">{{ project.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    window.addEventListener('load', (event) => {
        // mouseover and click
        document.querySelectorAll('.projects').forEach(project => {
            // mouse over
            project.addEventListener('mouseover', (event) => {
                project.style.boxShadow = '-3px 0px 50px -2px rgba(0, 0, 0, 0.5)';
            });
             // mouse out
            project.addEventListener('mouseout', (event) => {
                project.style.removeProperty('box-shadow');
            });
            // mouse click
            project.addEventListener('click', (event) => {
                if (project.getAttribute('data-project_link'))
                    window.open(project.getAttribute('data-project_link'), '_blank');
                return true;
            });
        });
    });
</script>
{% endblock %}