version: '3.7'

services:
  portfolio:
    container_name: portfolio
    build: .
    image: django_portfolio:latest
    command: >
      sh -c "python manage.py makemigrations &&
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/src
    ports:
      - '8000:8000'

networks:
  default:
    external:
      name: portfolio